body {
    font-family: 'Open Sans', sans-serif;
}


.banner-container {
    background-color: #CACACA;
}

.banner-column {
    background-color: #868486;
}

.navbar-container {
    background-color: #102040;
    position: sticky;
}

.about-container {
    background-color: #00A9C0;
}

.education-container {
    background-color: #eeebf0;
}

.bg-redType {
    background-color: #d36959;
}

.bg-redType-color {
    color: #FF907E;
}

.circle {
    background-color: #d36959;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container {
    background-color: #18a7e9;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}