body {
    font-family: 'Open Sans', sans-serif;
}


.banner-container {
    background-color: #CACACA;
}

.banner-column {
    background-color: #868486;
}

.navbar-container {
    background-color: #102040;
}